
body{
    font-family: 'Pixelify Sans', sans-serif;
    min-height: 150vh;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(128, 215, 226, 0.74) 0%, rgba(55, 253, 161, 0.372) 100%);
}

nav {
    margin-top: 10px;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(107, 107, 107);
    font-weight: bold;
}








.block{
    display: flex;
    justify-content: center;
    
}


.user-list {
    margin-top: 20px;
}

.user-item {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}

input {
    padding: 8px;
    margin-right: 10px;
}

form {
    display: inline-block;
    margin-top: 20px;
}

p {
    margin: 5px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card {
    width: 45%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd19b;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 14px 16px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 14px 16px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 14px 16px 8px 0px rgba(34, 60, 80, 0.2);
}



.btn-book {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-section {
    margin-top: 20px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    
}

.service-card {
    width: 45%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.service-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.add-service-form {
    text-align: center;
    margin-top: 20px;
}

.add-service-form input {
    margin: 5px;
    padding: 8px;
}

.add-service-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
body{
    margin:0px;
    padding:0px;
    font-family:"Helvetica";
    background-image:linear-gradient( 140deg,#7396b9,#27ae60,#f7a3eb,#7497f8,#8e44ad);
    background-size:400%;
    animation:beginani 15s infinite;
  }
  .text{
    color:white;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:250px 0px;
    font-size:22px;
  }
  @keyframes beginani{
    0%{
      background-position:0% 50%;
    }
    50%{
      background-position:100% 50%;
    }
    100%{
      background-position:0% 50%;
    }
  }